.idea/
.DS_Store
data/LJSpeech-1.1.tar.bz2
data/VCTK-Corpus/
data/f001/0/
data/f001/1/
data/f001/all_audios/
data/f001/all_trans/
data/f001/extracted_audios/
data/f001/filename_map
data/f001/note
data/f001/output.flac
data/f001/segments/
data/f001/trans0/
inaSpeechSegmenter/